<%= render :partial => "header" %>
<div align="center">
<% @conversations.each do |conversation| %>
  <% if conversation.users.split(",").include?(current_user.id.to_s) %>
    <%= link_to conversation.name, conversation %><br>
  <% end %>
<% end %>
<br><br>
<br><br><br><%= render :partial => "footer" %>
</div>