<%= render :partial => "header" %>
<div align="center">
<% if @link == "You don't have any conversations, yet. Start a new one?" %>
  <%= link_to @link, "#" %><br>
<% else %>
  <%= link_to @link, @conversation %>
<% end %>
<br><br>
<br><br><br><%= render :partial => "footer" %>
</div>